@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.about_banner .bg {
  height: calc(100vh - var(--headerheight));
}
@media only screen and (max-width: 768px) {
  .banner.about_banner .bg {
    height: 80vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.about_banner .bg {
    height: 50vh;
  }
}
.banner.about_banner .bg .banner-wrapper {
  left: 50%;
  top: 50%;
  bottom: unset;
  transform: translate(-50%, 0%);
}
@media only screen and (max-width: 768px) {
  .banner.about_banner .bg .banner-wrapper {
    width: 100%;
  }
}
.banner.about_banner .bg .banner-wrapper .container .content {
  text-align: center;
}
.banner.about_banner .bg .banner-wrapper .container .content svg, .banner.about_banner .bg .banner-wrapper .container .content img {
  width: 50px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .banner.about_banner .bg .banner-wrapper .container .content svg, .banner.about_banner .bg .banner-wrapper .container .content img {
    display: none;
  }
}
.banner.about_banner .bg .banner-wrapper .container .content h2 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--white);
  padding-bottom: 10px;
}
.banner.about_banner .bg .banner-wrapper .container .content p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--white);
}

.about_secA {
  background: url("/assets/images/about/about-secA.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
.about_secA .flex {
  align-items: center;
  gap: 100px;
}
.about_secA .flex .colA, .about_secA .flex .colB {
  flex: 1;
}
.about_secA .flex .colA figure {
  width: 90%;
  transform: rotate(-20deg);
}
.about_secA .flex .colB img {
  width: 300px;
}
.about_secA .flex .colB .desc {
  padding: 30px 0;
  font-size: 20px;
  color: var(--black);
}
.about_secA .flex .colB .grid_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 30px;
}
.about_secA .flex .colB .grid_wrapper .ser_col {
  display: flex;
  align-items: center;
  gap: 15px;
}
.about_secA .flex .colB .grid_wrapper .ser_col span {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary);
}
.about_secA .flex .colB .grid_wrapper .ser_col p {
  font-weight: 500;
  line-height: 1.2;
  max-width: 180px;
}

.about_secB .flex {
  line-height: normal;
  align-items: center;
  background-color: var(--primary);
}
.about_secB .flex figure, .about_secB .flex figcaption {
  flex: 1;
  line-height: normal;
}
.about_secB .flex figure {
  line-height: 0;
}
.about_secB .flex figure img {
  height: 100%;
}
.about_secB .flex figcaption {
  padding: 20px 50px;
}
.about_secB .flex figcaption h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--white);
  padding-bottom: 20px;
}
.about_secB .flex figcaption .content_wrap {
  border-right: 1px solid var(--white);
}
.about_secB .flex figcaption .content_wrap .scroll_content {
  height: 260px;
  overflow-y: auto;
  padding-right: 40px;
  margin-right: -4px;
}
.about_secB .flex figcaption .content_wrap .scroll_content::-webkit-scrollbar {
  width: 8px;
  background: none;
  height: 8px;
}
.about_secB .flex figcaption .content_wrap .scroll_content::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 10px;
}
.about_secB .flex figcaption .content_wrap .scroll_content p {
  padding-bottom: 15px;
  line-height: 1.2;
  color: var(--white);
}
.about_secB .flex figcaption .designation {
  padding-top: 20px;
}
.about_secB .flex figcaption .designation h5 {
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
}
.about_secB .flex figcaption .designation p {
  color: var(--white);
}
.about_secB .flex figcaption .designation span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 25px;
}
.about_secB .flex figcaption .designation span img {
  width: 150px;
  height: 100%;
}

.about_secC {
  padding: 90px 0;
}
.about_secC .vision_sec {
  align-items: center;
  gap: 100px;
  justify-content: center;
}
.about_secC .vision_sec:not(:last-child) {
  padding-bottom: 50px;
}
.about_secC .vision_sec figcaption h2 {
  font-size: 128px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1882352941);
}
.about_secC .vision_sec figcaption p {
  font-size: 20px;
  line-height: 1.2;
  color: var(--black);
  max-width: 442px;
}
.about_secC .vision_sec figure {
  border-radius: 15px;
  box-shadow: 15px -16px 0 0 #FF5500;
  transform: rotate(-5deg);
  width: 400px;
  height: 400px;
}
.about_secC .vision_sec figure img, .about_secC .vision_sec figure video {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=about.css.map */