@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.form {
  --inputsize: 48px;
  --labelbefore: var(--text);
  --labelafter: var(--text);
  --borderbefore: var(--black);
  --borderafter: var(--secondary);
  --labelfontbefore: 16px;
  --labelfontafter: 14px;
  --font: 500;
  --inputsize: 42px;
  --color: var(--black);
  --borderwidth: 1px;
  --labelbackground: none;
  --font: normal;
  --textareaheight: 86px;
  --paddingleftright: 0px;
}
.form .form-group {
  position: relative;
  flex: 0 1 100%;
  max-width: 100%;
  width: 100%;
  --selectheight: var(--inputsize);
  line-height: 0;
}
.form .form-group.active::after {
  width: 100%;
}
.form .form-group::before, .form .form-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--borderwidth);
  transition: 0.5s ease;
}
.form .form-group::before {
  background: var(--borderbefore);
}
.form .form-group::after {
  width: 0;
  background: var(--borderafter);
}
.form .form-group label {
  font-weight: var(--font);
  position: absolute;
  top: calc(var(--inputsize) / 2 - var(--labelfontbefore) / 2);
  left: var(--paddingleftright);
  color: var(--labelbefore);
  line-height: 1;
  font-size: var(--labelfontbefore);
  background: none;
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.form .form-group input, .form .form-group textarea {
  height: calc(var(--inputsize) - var(--borderwidth));
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  cursor: initial;
  padding: 0 var(--paddingleftright);
}
.form .form-group input:focus, .form .form-group input.valid, .form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
}
.form .form-group input:focus ~ label, .form .form-group input.valid ~ label, .form .form-group textarea:focus ~ label, .form .form-group textarea.valid ~ label {
  font-size: var(--labelfontafter);
  color: var(--labelafter);
  top: calc(var(--labelfontafter) / -2);
}
.form .form-group textarea {
  height: var(--textareaheight);
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  line-height: 1.2;
  cursor: initial;
  padding: 0 var(--paddingleftright);
  padding-right: 15px;
}
.form .form-group textarea::-webkit-scrollbar {
  width: 2px;
  background: none;
  height: 2px;
}
.form .form-group textarea::-webkit-scrollbar-track {
  box-shadow: none;
}
.form .form-group textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 15px;
}
.form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
  margin-top: 13px;
  height: calc(var(--textareaheight) - 13px);
}
.form .form-group select:focus {
  outline: none;
}
.form .form-group select ~ label {
  position: absolute;
  top: calc(var(--labelfontafter) / -2);
  left: var(--paddingleftright);
  color: var(--labelafter);
  translate: 0 0;
  font-size: var(--labelfontafter);
  opacity: 0;
  transition: 0.6s ease;
}
.form .form-group select.valid {
  color: var(--color);
}
.form .form-group select.valid ~ label {
  opacity: 1;
}
.form .form-group.file-input input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  cursor: pointer;
}
.form .form-group.file-input .file-name {
  pointer-events: none;
  height: calc(var(--inputsize) - var(--borderwidth));
  position: relative;
  --filename: "Attach Resume*";
  --filenameinitial: var(--filename);
  --color: var(--text);
  --background: none;
  --image: url(../../icon/clip-gray.svg) no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: calc(var(--inputsize) - var(--borderwidth));
}
.form .form-group.file-input .file-name::before, .form .form-group.file-input .file-name::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.form .form-group.file-input .file-name::before {
  content: var(--filenameinitial);
  z-index: 2;
  font-family: inherit;
  font-size: inherit;
  line-height: calc(var(--inputsize) - var(--borderwidth));
  padding-left: var(--paddingleftright);
  color: var(--color);
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
}
.form .form-group.file-input .file-name::after {
  content: "";
  right: 0;
  background: var(--image);
  background-repeat: no-repeat;
  z-index: 1;
  background-position: calc(100% - var(--paddingleftright, 0)) 50%;
  background-size: auto 50%;
}
.form .submit-grp:not(.text-left) {
  text-align: center;
  margin-top: 23px;
}

.custom-select {
  max-width: 100%;
  cursor: pointer;
  display: block;
  font-family: inherit;
  height: var(--selectheight);
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  padding: 0 var(--paddingleftright);
  --arrow: 15px;
  --arrowspace: 8px;
  --paddingleftright: 0;
}
.custom-select.has-icon {
  --iconsize: 12px;
  --iconurl: url(../../icon/location-gradient.svg);
  --iconspace: 8px;
}
.custom-select.has-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.custom-select.has-icon::after {
  left: 0;
  width: var(--iconsize);
  background-image: var(--iconurl);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 50%;
}
.custom-select.has-icon .current {
  padding-left: calc(var(--iconsize) + var(--iconspace));
  padding-right: calc(var(--arrow) + var(--iconsize) + var(--arrowspace) + var(--iconspace));
}
.custom-select::before {
  content: "";
  position: absolute;
  top: 0;
  right: var(--paddingleftright);
  bottom: 0;
  width: var(--arrow);
  background-image: url(../../icon/arrow-down-gray.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.custom-select .current {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--inputsize);
  color: var(--labelbefore);
  font-size: var(--labelfontbefore);
  font-weight: var(--font);
  padding-right: calc(var(--arrow) + var(--arrowspace));
}
.custom-select .current.selected {
  color: var(--color);
}
.custom-select .list {
  text-align: left;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transform-origin: 50% 0;
  z-index: 7;
  max-height: 180px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  pointer-events: none;
}
.custom-select .list::-webkit-scrollbar {
  width: 4px;
  background: none;
  height: 4px;
}
.custom-select .list::-webkit-scrollbar-track {
  box-shadow: none;
}
.custom-select .list::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 5px;
}
.custom-select .list li {
  display: block;
  line-height: 1.2;
  padding: 8px 16px;
  white-space: break-spaces;
  font-size: 14px;
}
.custom-select .list li.selected {
  background: var(--primary);
  color: var(--white);
}
.custom-select .list li.selected:hover {
  background: var(--primary);
  color: var(--white);
}
.custom-select .list li:hover {
  background: #e2e2e2;
}
.custom-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.filter-ul li {
  position: relative;
  --size: 20px;
  display: flex;
  line-height: normal;
  align-items: center;
}
.filter-ul li:has(input:checked) .check-span {
  background: var(--primary);
}
.filter-ul li:has(input:checked) .check-span::before {
  opacity: 1;
}
.filter-ul li input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 2;
}
.filter-ul li .check-span {
  flex: 0 1 auto;
  display: block;
  --size: 20px;
  height: var(--size);
  width: var(--size);
  position: relative;
  padding: 0;
  border-radius: 5px;
  background: #D9D9D9;
  pointer-events: none;
}
.filter-ul li .check-span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url(../../icon/tick-white.svg) no-repeat;
  background-position: 50% 50%;
  background-size: 10px auto;
  opacity: 0;
}
.filter-ul li p {
  padding-left: 14px;
}
.filter-ul li:not(:last-child) {
  margin-bottom: 10px;
}
.filter-ul li p {
  font-size: 14px;
  color: var(--text);
}

.checkbox-full {
  position: relative;
  --size: 20px;
  display: flex;
  line-height: normal;
  align-items: center;
}
.checkbox-full:has(input:checked) .check-span {
  background: var(--primary);
}
.checkbox-full:has(input:checked) .check-span::before {
  opacity: 1;
}
.checkbox-full input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 2;
}
.checkbox-full .check-span {
  flex: 0 1 auto;
  display: block;
  --size: 20px;
  height: var(--size);
  width: var(--size);
  position: relative;
  padding: 0;
  border-radius: 5px;
  background: #D9D9D9;
  pointer-events: none;
}
.checkbox-full .check-span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url(../../icon/tick-white.svg) no-repeat;
  background-position: 50% 50%;
  background-size: 10px auto;
  opacity: 0;
}
.checkbox-full p {
  padding-left: 14px;
}

.radio-full {
  position: relative;
  --size: 20px;
  display: flex;
  line-height: normal;
  align-items: center;
}
.radio-full:has(input:checked) .check-span {
  background: var(--primary);
  outline-offset: -4px;
  outline: 2px solid var(--white);
  background: var(--primary);
}
.radio-full input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 2;
}
.radio-full .check-span {
  flex: 0 1 auto;
  display: block;
  --size: 17px;
  display: inline-block;
  height: var(--size);
  width: var(--size);
  border: 1px solid var(--primary);
  border-radius: 50%;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  background: transparent;
}
.radio-full p {
  padding-left: 14px;
}

.proListing_banner .bg {
  height: 60vh;
}
.proListing_banner .bg .banner-wrapper .heading {
  text-align: center;
}
.proListing_banner .bg .banner-wrapper .heading h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--white);
}
.proListing_banner .bg .banner-wrapper .heading p {
  max-width: 350px;
  margin: 0 auto;
  font-weight: 300;
  color: var(--white);
}

.product_listingA .main_wrapper {
  gap: 10px;
}
.product_listingA .main_wrapper .colA {
  flex: 0 1 30%;
}
.product_listingA .main_wrapper .colA .filter_option_wrapper {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .title_head {
  justify-content: space-between;
  padding: 10px 20px;
  background: var(--primary);
  border-radius: 10px 10px 0 0;
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .title_head h6 {
  font-size: 20px;
  font-weight: 700;
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .title_head .clear_all_btn {
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col.active .title h6 {
  color: var(--primary);
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col.active .title .icon {
  --bgcolor: var(--primary);
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col.active .title .icon::after {
  transform: scale(0);
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col .title {
  padding: 10px 20px;
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col .title h6 {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col .title .icon {
  flex: 0 1 auto;
  --size: 18px;
  --border: 2px;
  --bgcolor: var(--black);
  height: var(--size);
  width: var(--size);
  position: relative;
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col .title .icon::before, .product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col .title .icon::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  transition: 0.5s ease;
  background: var(--bgcolor);
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col .title .icon::after {
  left: calc(var(--size) / 2);
  translate: -50% 0;
  right: auto;
  width: var(--border);
  height: 100%;
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col .title .icon::before {
  top: calc(var(--size) / 2 - var(--border) / 2);
  bottom: auto;
  height: var(--border);
  width: 100%;
}
.product_listingA .main_wrapper .colA .filter_option_wrapper .filter_options .col article ul li:not(:last-child) {
  padding: 5px 20px;
}/*# sourceMappingURL=product.css.map */